.match{
  width: 80%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  
  
  &--champion-name{
    
  }

  &--champion-img{
    
  }
}